.pageWrapper {
  display: flex;
  align-items: center;
}

.container {
  width: 100vw;
  display: flex;
  gap: 1rem;
  flex-flow: row nowrap;
  overflow: auto;
  scroll-snap-type: x mandatory;
  height: 100%;
  padding-left: 10vw;
  padding-right: 100px !important; // 
}